.icons {
    margin: 3rem 0;
}

i.cc {
    font-size: 4rem;
    display: inline-block;
    margin: 0 1.3rem 1.3rem 0;
    transition: .1s ease all;
    color: #333;
}

i.cc:hover {
    color: #e0f0fd;
    transform: scale(1.25);
    transform-origin: .49em .7em;
}

.social-link {
    color: #838a9b;
}

.footer-big-menu {
    /*    background-color: #f5f6fa;*/
    background-color: #e0f0fd;
    padding: 40px 0 80px !important;
}

.footer-big-menu .menu .menu-link {
    color: #aaa;
}

.footer-big-menu .menu .menu-link:hover {
    color: #000;
}

.footer-big-menu .bottom {
    color: #aaa;
    padding-bottom: 25px;
}

.btn-shadow.btn-shadow-info {
    color: #037cff;
    border: 1px solid #e0f0fd;
    background-color: #e0f0fd;
}

.btn-shadow.btn-shadow-info:hover {
    border: 1px solid #ccc;
    background-color: #e0f0fd;
}

.justify {
    text-align: justify !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.btn-roadmap {
    text-align: left;
    width: 100%;
    color: #333;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    text-transform: none;
}

.btn-roadmap:hover {
    background-color: #e0f0fd;
    border: 1px solid #e0f0fd;
    color: #037cff;
}

.footer-big-menu .cta .btn-outline {
    color: #037cff;
    border: 1px solid #e0f0fd;
    background-color: #e0f0fd;
}

.footer-big-menu .cta .btn-outline:hover {
    border: 1px solid #aaa;
    color: #fff;
}

.business-single-client .quote-wrapper {
    background-color: #212529;
}

html {
    background-color: #17191B;
}

.business-hero {
    background: url("../assets/images/headline.jpg");
    background-size: cover;
    background-position: center 0;
}

.business-hero:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(10, 10, 10, 0.7);
}

.business-single-client {
    background-image: url("../assets/images/space.jpg");
}

.index-devices h4 {
    color: #2f4166;
}

.spacial-features .feature h3 {
    /*    color: #e0f0fd;*/
}

@media (min-height: 700px) {
    .business-hero {
        height: 800px;
        min-height: 800px;
    }
}

a,
a:hover {
    color: #2f4166;
}

.navbar-light {
    /*    background-color: #17191B !important;*/
    background-color: #e0f0fd !important;
}

.dropdown-menu-light {
    background-color: #e0f0fd !important;
}

.title {
    color: #395174 !important;
}

.navbar-dark .nav-item .nav-link {
    font-size: 14px;
}

#faq-accordion a,
#faq-accordion a:hover {
    color: black;
}

#faq-accordion .card {
    margin-bottom: 10px;
}

.first-section {
    padding-top: 100px;
}

.spacial-features .header p {
    color: #656568;
}

.spacial-features .feature p {
    color: #656568;
}

/*.content {*/

/*padding-top: 85px;*/

/*}*/

@media (min-width: 1240px) {
    .modal-xlg {
        max-width: 1200px;
    }
}

.progress-bar {
    background-color: #e0f0fd;
    height: 32px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}

body {
    padding-top: 85px;
}

.index-clients {
    margin-top: 100px;
    text-align: center;
}

.index-clients.private-sale {
    margin-top: 50px;
    text-align: center;
}

.business-single-client {
    margin-bottom: 200px;
}

.business-single-client .quote-wrapper {
    bottom: -20px;
    height: auto;
}

@media (min-width: 992px) {
    .index-features .features .icon {
        margin-right: 0;
        width: 60px;
        position: relative;
        top: -24px;
    }
    .index-features .features .icon-roadmap {
        margin-right: 0;
        width: 60px;
        position: relative;
        top: -24px;
        left: 80px;
    }
}

#faq-accordion a,
#faq-accordion a:hover {
    line-height: 1.5em;
}

.spacial-features .feature p {
    width: 100%;
    text-align: left;
}

.spacial-features .feature h3 {
    text-align: left;
}

@media (min-width: 1200px) {
    .buy-xpx-button {
        text-transform: capitalize;
        border: 1px solid #D4AF37;
        color: #D4AF37;
        border-radius: 25px;
        margin-left: 5px;
        margin-top: 22px;
        margin-bottom: 20px;
        padding: 8px 10px 9px;
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -ms-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    .buy-xpx-button:hover {
        color: #B8860B;
        border-color: #B8860B;
    }
    .buy-xpx-button:active {
        -moz-transform: scale(0.93);
        -o-transform: scale(0.93);
        -ms-transform: scale(0.93);
        -webkit-transform: scale(0.93);
        transform: scale(0.93);
    }
}

.nspArt img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.nspArt img.nspImage {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 100%/20%;
    height: 80px;
    width: 80px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nspImage:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    transition: all .3s ease-out;
}

.nspArt img.nspImageMediaKit {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 2px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 100%/20%;
    height: 100px;
    width: 100px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nspImageMediaKit:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    transition: all .3s ease-out;
}

.nspArt img.nspImageExchanges {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 2px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 100%/20%;
    height: 200px;
    width: 500px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nspImageExchanges:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s ease-out;
}

.nspArt img.nspImageExchangesFooter {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 2px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 100%/20%;
    height: 40px;
    width: 100px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nspImageExchangesFooter:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    transition: all .3s ease-out;
}

.even {
    background: #f9f7f7;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

.even img {
    border-radius: 15px;
    width: 60%;
    float: center;
    margin: 0 auto !Important;
}

.neven {
    background: #e0f0fd;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    height: 220px;
}

.neven img {
    border-radius: 15px;
    width: 100px;
    float: center;
    margin: 0 auto !Important;
}

.nevenFooter {
    background: #e0f0fd;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    height: 100%;
}

.nevenFooter img {
    border-radius: 15px;
    width: 100%;
    float: center;
    margin: 0 auto !Important;
}

.nevenMediaKit {
    background: #e0f0fd;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    height: 150px;
}

.nevenMediaKit img {
    border-radius: 15px;
    width: 100px;
    float: center;
    margin: 0 auto !Important;
}

.event {
    background: #f9f7f7;
    padding: 10px;
    border-radius: 5px;
}

.nevent {
    background: #e0f0fd;
    padding: 10px;
    border-radius: 5px;
}

.nspRoadmap p {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.nspRoadmap p.nspRoadmapBox {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 100%/20%;
    height: 80px;
    width: 80px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nspRoadmapBox:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    transition: all .3s ease-out;
}

.nevenRoadmapTitle {
    color: #B8860B;
    background: #0054b5;
    font-family: "Liberation Sans", Liberation, sans-serif;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    height: 120px;
}

.nevenRoadmapTitle p {
    border-radius: 15px;
    width: 100px;
    display: inline-block;
    margin: 0 auto !Important;
    vertical-align: middle;
}

.nevenRoadmapTitleV {
    color: #666666;
    background: #c0c0c0;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    height: 150px;
}

.nevenRoadmapTextV {
    color: #666666;
    background: #c0c0c0;
    font-weight: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    height: 150px;
}


.nevenRoadmapTextV p {
    border-radius: 15px;
    width: 100px;
    float: center;
    margin: 0 auto !Important;
}

.nevenRoadmapTitleV p {
    border-radius: 15px;
    width: 100px;
    margin: 0 auto;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.nspInvestmentLevels p {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.nspInvestmentLevels p.nspInvestmentLevelsBox {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 100%/20%;
    height: 80px;
    width: 80px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nevenInvestmentLevelsTitle {
    color: #B8860B;
    background: #0054b5;
    font-family: "Liberation Sans", Liberation, sans-serif;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    height: 120px;
}

.nevenInvestmentLevelsTitle p {
    border-radius: 15px;
    width: 100px;
    display: inline-block;
    margin: 0 auto !Important;
    vertical-align: middle;
}

.nevenInvestmentLevelsTitleV {
    color: #666666;
    background: #c0c0c0;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    height: 150px;
}

.nevenInvestmentLevelsTextV {
    color: #666666;
    background: #dfdede;
    font-weight: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    height: 300px;
}


.nevenInvestmentLevelsTextV p {
    border-radius: 15px;
    width: 100px;
    float: center;
    margin: 0 auto !Important;
}

.nevenInvestmentLevelsTitleV p {
    border-radius: 15px;
    width: 100px;
    margin: 0 auto;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
