.icons {
    margin: 3rem 0;
}

i.cc {
    font-size: 4rem;
    display: inline-block;
    margin: 0 1.3rem 1.3rem 0;
    transition: 0.1s ease all;
    color: #333;
}

i.cc:hover {
    color: #e0f0fd;
    transform: scale(1.25);
    transform-origin: 0.49em 0.7em;
}


.footer-big-menu {
/*    background-color: #f5f6fa;*/
    background-color: #e0f0fd;
}

.footer-big-menu .menu .menu-link {
    color: #aaa;
}

.footer-big-menu .bottom {
    color: #aaa;
}

.btn-shadow.btn-shadow-info {
    color: #037cff;
    border: 1px solid #e0f0fd;
    background-color: #e0f0fd;
}

.btn-shadow.btn-shadow-info:hover {
    border: 1px solid #ccc;
    background-color: #e0f0fd;
}

.btn-roadmap {
    text-align: left;
    width:100%;
    color: #333;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    text-transform: none;
}
.btn-roadmap:hover {
    background-color: #e0f0fd;
    border: 1px solid #e0f0fd;
    color: #037cff;
}


.footer-big-menu .cta .btn-outline {
    color: #037cff;
    border: 1px solid #e0f0fd;
    background-color: #e0f0fd;
}

.footer-big-menu .cta .btn-outline:hover {
    border: 1px solid #aaa;
    color: #fff;
}

.business-single-client .quote-wrapper {
    background-color: #212529;
}

html {
    background-color: #17191B;
}

.business-hero {
    background: url(../assets/images/headline.jpg);
    background-size: cover;
    background-position: center 0;
}

.business-hero:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(10,10,10,0.7);
}

.business-single-client {
    background-image: url(../assets/images/space.jpg);
}

.index-devices h4 {
    color: #2f4166;
}

.spacial-features .feature h3 {
/*    color: #e0f0fd;*/
}

@media (min-height: 700px) {
    .business-hero {
        height: 800px;
        min-height: 800px;
    }
}

a, a:hover {
    color: #2f4166;
}

.navbar-light {
/*    background-color: #17191B !important;*/
    background-color: #e0f0fd !important;
}

.dropdown-menu-light {
    background-color: #e0f0fd !important;    
}

.title {
    color: #395174 !important;
}

.navbar-dark .nav-item .nav-link {
    font-size: 14px;
}

#faq-accordion a, #faq-accordion a:hover {
    color: black;
}
#faq-accordion .card {
    margin-bottom: 10px;
}

.first-section {
    padding-top: 100px;
}

.spacial-features .header p {
    color: #656568;
}

.spacial-features .feature p {
    color: #656568;
}

/*.content {*/
    /*padding-top: 85px;*/
/*}*/

@media (min-width: 1240px) {
    .modal-xlg {
        max-width: 1200px;
    }
}

.progress-bar {
    background-color: #e0f0fd;
    height: 32px;
    width:100%;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;


}

body { padding-top: 85px; }

.index-clients {
    margin-top: 100px;
    text-align: center;
}

.business-single-client {
    margin-bottom: 200px;
}

.business-single-client .quote-wrapper {
    bottom: -20px;
    height: auto;
}


@media (min-width: 992px) {
    .index-features .features .icon {
        margin-right: 0;
        width: 60px;
        position: relative;
        top: -24px;
    }

    .index-features .features .icon-roadmap {
        margin-right: 0;
        width: 60px;
        position: relative;
        top: -24px;
        left: 80px;
    }
}

#faq-accordion a, #faq-accordion a:hover {
    line-height: 1.5em;
}

.spacial-features .feature p {
    width: 100%;
    text-align: left;
}
.spacial-features .feature h3 {
    text-align: left;
}