<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ripa Exchange | Crypto Asset Marketplace</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!--<link rel="shortcut icon" href="/images/favicon.ico">-->

    <!--<link rel="shortcut icon" href="/images/favicon.ico">-->

    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/scss/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/dist/theme.css" />
    <link rel="stylesheet" href="/webfont/cryptocoins.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/dist/theme.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation">
    <div class="container no-override">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/RIPA_light_mini_transparent.png" class="d-none d-lg-inline mr-2" style="width: 70px"/>
            <!--<img src="assets/images/ark-block-logo.png" class="d-none d-lg-inline mr-2" style="width: 40px"/>-->
            Ripa Exchange
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/#exchange" class="nav-link">
                        The Exchange
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Resources
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-light" role="menu">
                        <a class="dropdown-item" href="/comingSoon">Roadmap</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./assets/RipaEx_WP_EN.pdf">Whitepaper</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/comingSoon">Team</a>
                        <a class="dropdown-item" href="/#faq">FAQ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Pages
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-light" role="menu">
                        <a class="dropdown-item" target="_blank" href="https://explorer.ripaex.io">Explorer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="https://snapshot.ripaex.io">Snapshot</a>
                        <a class="dropdown-item" target="_blank" href="https://github.com/RipaEx/ripa-commander/blob/master/README.md">Commander</a>
                        <a class="dropdown-item" target="_blank" href="https://vote.ripaex.io">Vote</a>
                        <a class="dropdown-item" target="_blank" href="https://test.ripaex.io">Swagger</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://steemit.com/@ripaex">Blog</a>
                        <a class="dropdown-item" href="https://forum.ripaex.io">Forum</a>
                        <a class="dropdown-item" href="/comingSoon/">Media Kit</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Wallets
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-light" role="menu">
                        <a class="dropdown-item" href="https://github.com/RipaEx/ripa-desktop/releases/latest">Desktop</a>
                        <a class="dropdown-item" href="/comingSoon/">Mobile</a>
                        <a class="dropdown-item" href="https://wallet.ripaex.io">Web Wallet</a>
                        <a class="dropdown-item" href="/comingSoon/">Paper Wallet</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Contact Us
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-light" role="menu">
                        <a class="dropdown-item" href="/contact"><i class="fas fa-envelope"></i> E-Mail</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="https://t.me/ripaex"><i class="fab fa-telegram"></i> Telegram</a>
                        <a class="dropdown-item" target="_blank" href="https://join.slack.com/t/ripaex/shared_invite/enQtMzM4NzUwNjU4OTQ0LTY3MDJmMTdhYTNlZjJlNGUxNzM1YjUwYjgyYjZlMDJmOTg3NTIzNThmNTYyMGQ3ODBkOTRmYzk3Y2Y4MzBkOTY"><i class="fab fa-slack"></i> Slack</a>
                        <a class="dropdown-item" target="_blank" href="https://bitcointalk.org/index.php?topic=3759172"><i class="fab fa-bitcoin"></i> Bitcointalk</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="https://twitter.com/ripaex"><i class="fab fa-twitter"></i> Twitter</a>
                        <a class="dropdown-item" target="_blank" href="https://www.facebook.com/ripaex"><i class="fab fa-facebook"></i> Facebook</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="https://steemit.com/@ripaex"><i class="fas fa-th"></i> Steemit</a>
                        <a class="dropdown-item" target="_blank" href="https://www.reddit.com/r/RipaEx/"><i class="fab fa-reddit"></i> Reddit</a>
                        <a class="dropdown-item" target="_blank" href="https://medium.com/ripaex"><i class="fab fa-medium"></i> Medium</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="https://github.com/RipaEx/"><i class="fab fa-github"></i> GitHub</a>
                        <a class="dropdown-item" target="_blank" href="https://gitter.im/RipaEx/RipaEx"><i class="fab fa-gitter"></i> Gitter</a>
                        <a class="dropdown-item" target="_blank" href="https://discord.gg/W847yAP"><i class="fab fa-discord"></i> Discord</a>
        
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link--rounded" href="https://tec.ripaex.io/sign-up">BUY XPX NOW</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    {{ content }}
</div>

<footer class="footer-big-menu" id="footer">
    <div class="container">
        <div class="row menu">
            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title title">About</h3>
                <a class="menu-link" href="/#exchange">Ripa Exchange</a>
                <a class="menu-link" href="/comingSoon">Roadmap</a>
                <a class="menu-link" href="./assets/RipaEx_WP_EN.pdf">Whitepaper</a>
                <a class="menu-link" href="/comingSoon">Team</a>
            </div>
            
            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title title">Resources</h3>
                <a class="menu-link" target="_blank" href="https://explorer.ripaex.io">Explorer</a>
                <a class="menu-link" href="/#faq">FAQ</a>
                <a class="menu-link" href="https://steemit.com/@ripaex">Blog</a>
                <a class="menu-link" href="https://forum.ripaex.io">Forum</a>
            </div>

            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title title">Wallets</h3>
                <a class="menu-link" href="https://github.com/RipaEx/ripa-desktop/releases">Desktop</a>
                <a class="menu-link" href="/comingSoon/">Mobile</a>
                <a class="menu-link" href="https://wallet.ripaex.io">Web Wallet</a>
            </div>

            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title title">Delegates</h3>
                <a class="menu-link" target="_blank" href="https://github.com/RipaEx/ripa-commander/blob/master/README.md">Commander</a>                
                <a class="menu-link" target="_blank" href="https://vote.ripaex.io">Vote</a>
                <a class="menu-link" target="_blank" href="https://snapshot.ripaex.io">Snapshot</a>
                <a class="menu-link" target="_blank" href="https://test.ripaex.io">Swagger</a>


            </div>

            <div class="col-md-3 col-lg-2">
                <h3 class="menu-title title">Development</h3>
                <a class="menu-link" href="https://github.com/RipaEx/">GitHub</a>
            </div>
            
            <div class="col-md-3 col-lg-2 text-center">
                <p>
                    <a class="buy-xpx-button" href="https://tec.ripaex.io/sign-up">BUY XPX NOW</a>
                </p>
                <a class="social-link" href="/contact/">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class="social-link" target="_blank" href="https://t.me/ripaex">
                    <i class="fab fa-telegram"></i>
                </a>
                <a class="social-link" target="_blank" href="https://join.slack.com/t/ripaex/shared_invite/enQtMzM4NzUwNjU4OTQ0LTY3MDJmMTdhYTNlZjJlNGUxNzM1YjUwYjgyYjZlMDJmOTg3NTIzNThmNTYyMGQ3ODBkOTRmYzk3Y2Y4MzBkOTY">
                    <i class="fab fa-slack"></i>
                </a>
                <a class="social-link" target="_blank" href="https://www.facebook.com/ripaex">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="social-link" target="_blank" href="https://twitter.com/ripaex">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="social-link" target="_blank" href="https://gitter.im/RipaEx/RipaEx">
                    <i class="fab fa-gitter"></i>
                </a>
                <a class="social-link" target="_blank" href="https://discord.gg/W847yAP">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
    <span class="bottom">&copy; 2018 RipaEx VAT 04927110264 - Treviso (TV) - Italy</span>
</footer>

<script type="text/javascript">
    $(function () {
        var trigger = new ScrollTrigger({
            toggle: {
                visible: 'customFadeInUp'
            },
            offset: {
                y: 150
            },
            once: true
        });
    });
</script>

</body>
</html>

